<h1 class= "welcome-header">Welcome to WaPoNet</h1>

<h5>The purpose of this site is to create a safe space for athletes, coaches as well as master leagues.<h5>

<div class="news-container">
  <h3>Weekly Update!</h3>    
  <p>PLayers of the week:</p>
  <dl>
    <dt>Shannon Lin</dt>
    <dd>- Shannon has been playing water polo since college and is becoming more interested in creating her own womens water polo league! She is well known among the women at Emory College.</dd>
    <dt>Pamela Leung</dt>
    <dd>- Pamela is a rising leader in the NYC League, Brooklyn Wets. She has been organizing the women of the master league: Urban Dolphins into playing more tournements and has been making sure everyone is adding their emails to the list!</dd>
    <dt><h3>Event of the week:</h3></dt>
        <dt>Mohwawk NJ Tournament</dt>

    <dd>- Join the Brooklyn Wets in NJ at their yearly outdoor tournement in Mohwawk NJ. Teams are able to camp outside, rent hotel rooms or drive to and from Mohawk. The schedule will be posted by the end of this week!</dd>
  </dl>     
</div>

</body>
