nav.page-nav{
  background-color: #408598;
}

.page-contents {
  margin: 35px;
}

.navbar-default .navbar-nav>li.header-elements>a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: Georgia;
  font-size: 20;
}
.navbar-nav .container-fluid .navbar-header a.navbar-left{
  max-width: 100px;
  max-height: 100px;
}
a.navbar-left img {
  max-height: 100px;
  max-width: 100px;
  float: left;
}

.navbar-nav .navbar-nav>li.header-elements .navbar-right>a{
  float: right;
}

.event-info-note {
  margin-left: 65px;
  margin-right: 65px;
  outline: 3px solid orange;
}

ul {
  list-style-type: none;
}



